{%- assign curPageVersion = "latest version" -%}

{%- if page.url contains '-v' -%}
	{%- assign candidateVersionStr = page.url |  split: '-v' -%}
	{%- for tmpStr in candidateVersionStr offset:1 -%}
		{%- assign tmpVer = tmpStr | split: '/' | first | replace: '.html', '' | rstrip -%}
		{%- capture firstChar -%}
			{{ tmpVer | truncate: 4 | replace:"...", "" }}
		{%- endcapture -%}
		{%- if firstChar >= "0" and firstChar <= "9" -%}
			{%- assign curPageVersion = tmpVer -%}
			{%- break -%}
		{%- endif -%}
	{%- endfor -%}
{%- endif -%}

{%- assign needRemoveStr = "-v" | append: curPageVersion -%}
{%- assign curUsedToMatchUrl = page.url | remove: needRemoveStr -%}

{%- if curUsedToMatchUrl contains 'index.html' -%}
	{%- assign curUsedToMatchUrl = curUsedToMatchUrl | remove: 'index.html' -%}
{%- endif -%}

{%- if curPageVersion == "latest version" -%}
	<p class="currentVersion fontOswald">latest version</p>		
{%- else -%}
	<p class="currentVersion fontOswald">{{ "version " | append: curPageVersion }}</p>
{%- endif -%}

{%- assign historyRecode = "" -%}

<ul class="otherVersions" style="display: none!important;">
{%- for my_page in site.pages -%}
	{%- assign tmpPageVersion = "latest version" -%}
	{%- if my_page.url contains '-v' -%}
		{%- assign candidateVersionStr = my_page.url |  split: '-v' -%}
		{%- for tmpStr in candidateVersionStr offset:1 -%}
			{%- assign tmpVer = tmpStr | split: '/' | first | replace: '.html', '' | rstrip -%}
			{%- capture firstChar -%}
				{{ tmpVer | truncate: 4 | replace:"...", "" }}
			{%- endcapture -%}
			{%- if firstChar >= "0" and firstChar <= "9" -%}
				{%- assign tmpPageVersion = tmpVer -%}
				{%- break -%}
			{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
	
	{%- if curPageVersion == tmpPageVersion -%}
		{%- continue -%}
	{%- endif -%}

	{%- assign needRemoveStr = "-v" | append: tmpPageVersion -%}
	{%- assign tmpUsedToMatchUrl = my_page.url | remove: needRemoveStr -%}

	{%- if tmpUsedToMatchUrl contains 'index.html' -%}
		{%- assign tmpUsedToMatchUrl = tmpUsedToMatchUrl | remove: 'index.html' -%}
	{%- endif -%}

	{%- if tmpUsedToMatchUrl != curUsedToMatchUrl -%}
		{%- continue -%}
	{%- endif -%}

	{%- assign newVer = true -%}
	{%- assign historyAry = historyRecode | split: '\nextUrlRecode\' -%}
	{%- for history in historyAry -%}
		{%- if history == tmpPageVersion -%}
			{%- assign newVer = false -%}
			{%- break -%}
		{%- endif -%}
	{%- endfor -%}

	{%- unless newVer -%}
		{%- continue -%}
	{%- endunless -%}

	{%- if tmpPageVersion == "latest version" -%}
		<li><a href = "{{ site.firstLevelUrl }}{{ my_page.url }}" class="otherLinkColour">latest version</a></li>
	{%- else -%}
		<li><a href = "{{ site.firstLevelUrl }}{{ my_page.url }}" class="otherLinkColour">{{ "version " | append: tmpPageVersion }}</a></li>
	{%- endif -%}

	{%- assign historyRecode = historyRecode | append: '\nextUrlRecode\' | append: tmpPageVersion -%}
{%- endfor -%}
</ul>

