<div id="dynamsoft-header">
    <div id="overall-header">
        <!--xs-header-->
        <div id="xsHeader" class="show-block-sm">
            <div id="xsMenu" class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a class="ds-logo" href="https://www.dynamsoft.com"></a>
                        <div class="xsMenuToggle">
                            <div class="open"><span></span><span></span><span></span></div>
                            <span class="close">&times;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="xsNav">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="xsSearch" class="headerSearch">
                                <input type="text" name="dynamsoftSearch" placeholder="Search" />
                                <span class="xsSearchSubmit headerSearchSubmit"></span>
                            </div>
                            <ul class="menuList">
                                <li class="menuItem">
                                    <div class="menuName textUpperCase" style="cursor: pointer;">Barcode Reading SDK <i class="icon-orange-angle"></i></div>
                                    <div class="menuDetail">
                                        <div class="productLogo"><i class="dbr-white-logo"></i></div>
                                        <div class="subMenus">
                                            <div class="menu-left" style="border-right: 1px solid #999;">
                                                <ul class="subMenuList">
                                                    <li class="item"><a href="https://www.dynamsoft.com/Products/Dynamic-Barcode-Reader.aspx">OVERVIEW</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/Products/read-barcode-from-image-pdf.aspx">FEATURES</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/Products/Barcode-Reader-Resources.aspx">RESOURCES</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/Downloads/Dynamic-Barcode-Reader-Sample-Download.aspx">CODE GALLERY</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.comstore/dynamsoft-barcode-reader">BUY</a></li>
                                                    <li class="item dwtDownload"><a class="downloadBtn" href="https://www.dynamsoft.com/dynamsoft-barcode-reader/barcode-reader-download">30-DAY FREE TRIAL</a></li>
                                                </ul>
                                            </div>
                                            <div class="menu-right">
                                                <ul class="subMenuList">
                                                    <li class="subTitle textUpperCase">Packages</li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/programming/cplusplus/">C/C++</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/programming/dotnet/">.NET</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/programming/javascript/">JAVASCRIPT</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/programming/android/">ANDROID</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/barcode-reader/programming/objectivec-swift/">IOS</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menuItem">
                                    <div class="menuName textUpperCase" style="cursor: pointer;">Document Scanning SDK <i class="icon-orange-angle"></i></div>
                                    <div class="menuDetail">
                                        <div class="productLogo"><i class="dwt-white-logo"></i></div>
                                        <p class="desc">Document scanning SDK for web applications</p>
                                        <div class="subMenus">
                                            <div class="menu-left">
                                                <ul class="subMenuList">
                                                    <li class="item"><a href="https://www.dynamsoft.com/dynamic-webtwain/webtwain-overview">OVERVIEW</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/dynamic-webtwain/webtwain-feature">FEATURES</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/dynamic-webtwain/webtwain-resource">RESOURCES</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/store/dynamic-web-twain">BUY</a></li>
                                                    <li class="item dwtDownload"><a class="downloadBtn" href="https://www.dynamsoft.com/dynamic-webtwain/webtwain-download">30-DAY FREE TRIAL</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="productLogo" style="border-top: 1px solid #999; padding-top: 20px;"><i class="dnt-white-logo"></i></div>
                                        <p class="desc">Document scanning SDK for desktop applications</p>
                                        <div class="subMenus">
                                            <div class="menu-left">
                                                <ul class="subMenuList">
                                                    <li class="item"><a href="https://www.dynamsoft.com/dynamic-.net-twain/.net-twain-overview">OVERVIEW</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/dynamic-.net-twain/.net-twain-features">FEATURES</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/dynamic-.net-twain/.net-twain-resource">RESOURCES</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/store/dynamic-.net-twain">BUY</a></li>
                                                    <li class="item dntDownload"><a href="https://www.dynamsoft.com/dynamic-.net-twain/.net-twain-download">30-DAY FREE TRIAL</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="menuItem">
                                    <div class="menuName textUpperCase"><a href="https://www.dynamsoft.com/Support/How-to-purchase-Dynamsoft-products.aspx">Clients</a></div>
                                </li>
                                <li class="menuItem">
                                    <div class="menuName textUpperCase" style="cursor: pointer;">Company <i class="icon-orange-angle"></i></div>
                                    <div class="menuDetail">
                                        <div class="subMenus">
                                            <div class="menu-left" style="margin-top: 20px;border-right: 0;">
                                                <ul class="subMenuList">
                                                    <li class="item"><a href="https://www.dynamsoft.com/Company/AboutDynamsoft.aspx">ABOUT US</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/Company/Contact.aspx">CONTACT US</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/Company/Careers.aspx">CAREERS</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/Company/news.aspx">NEWS</a></li>
                                                    <li class="item"><a href="https://www.dynamsoft.com/blog">BLOG</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--sm-header-->
        <div id="smHeader" class="show-block-md">
            <div id="smMenu">
                <div class="container">
                    <a class="ds-logo" href="https://www.dynamsoft.com"> </a>
                    <div class="smMenuToggle">
                        <div class="bars"><span></span> <span></span> <span></span> </div>
                        <span class="textMenu">MENU</span>
                    </div>
                </div>
            </div>
        </div>

        <!--md&lg- header -->
        <div id="mdHeader" class="show-block-lg show-block-xl">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <a class="ds-logo" href="https://www.dynamsoft.com"></a>
                        <ul id="mdMenu" class="clearfix">
                            <li>
                                <a class="mdMenuToggle proMenu textUpperCase" href="javascript:void(0);">Products <i class="icon-orange-angle"></i></a>
                            </li>
                            <li class="hide-md">
                                <a class="textUpperCase" href="https://www.dynamsoft.com/Company/Customers.aspx?Category=UserList">Clients</a>
                            </li>
                            <li style="margin-right: 0!important;"><a class="mdMenuToggle companyMenu textUpperCase" href="javascript:void(0);">Company <i class="icon-orange-angle"></i></a></li>
                            <!-- <div id="cp-header">
                                <div id="CPHeader-Container">
                                    <ul id="action-nav">
                                        <li class="action-buttons">
                                            <a class="textUpperCase fontOswald orangeBgBtn"  style="transition:ease-in 0.2s all" href="https://www.dynamsoft.com/downloads">Download Free Trial</a>
                                            <a class="textUpperCase fontOswald orangeBorderBtn" href="https://www.dynamsoft.com/Support/How-to-purchase-Dynamsoft-products.aspx">Buy Now</a>
                                        </li>
                                    </ul>
                                </div>
                            </div> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pcMenu" class="container">
        <div class="row">
            <div class="col-xs-12 pr">
                <div id="companySubMenu" class="clearfix hide-sm headSubMenu">
                    <i class="icon-orange-angle"></i>
                    <ul class="subMenuList">
                        <li class="item"><a href="https://www.dynamsoft.com/Company/AboutDynamsoft.aspx">ABOUT US</a></li>
                        <li class="item"><a href="https://www.dynamsoft.com/Company/Contact.aspx">CONTACT US</a></li>
                        <li class="item"><a href="https://www.dynamsoft.com/Company/Careers.aspx">CAREERS</a></li>
                        <li class="item"><a href="https://www.dynamsoft.com/Company/news.aspx">NEWS</a></li>
                        <li class="item"><a href="https://www.dynamsoft.com/blog">BLOG</a></li>
                    </ul>
                </div>
                <div id="subMenu" class="clearfix hide-sm">
                    <i class="icon-orange-angle"></i>
                    <div class="subMenuContent">
                        <div class="proPanel">
                            <div class="leftPart">
                                <div class="proLine">
                                    <div class="bigProduct">
                                        <a href="https://www.dynamsoft.com/Products/Dynamic-Barcode-Reader.aspx">
                                            <div class="icon dbrIcon"></div>
                                            <div class="proInfo">
                                                <div class="title fontOswald textUpperCase">Dynamsoft barcode reader</div>
                                                <div class="intro">1D & 2D barcode reader SDK for desktop, web and mobile</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="smallProduct">
                                        <a href="https://www.dynamsoft.com/label-recognition/overview">
                                            <div class="icon dlrIcon"></div>
                                            <div class="proInfo">
                                                <div class="title fontOswald textUpperCase">Dynamsoft Label Recognition</div>
                                                <div class="intro">Localize and Extract Key Data from Specified Region using OCR</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="proLine">
                                    <div class="bigProduct">
                                        <a href="https://www.dynamsoft.com/Products/WebTWAIN_Overview.aspx">
                                            <div class="icon dwtIcon"></div>
                                            <div class="proInfo">
                                                <div class="title fontOswald textUpperCase">Dynamic web twain</div>
                                                <div class="intro">Cross-browser document scanning SDK for web applications</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="smallProduct">
                                        <a href="https://www.dynamsoft.com/Products/.Net-TWAIN-Scanner.aspx">
                                            <div class="icon dntIcon"></div>
                                            <div class="proInfo">
                                                <div class="title fontOswald textUpperCase">Dynamic .Net twain</div>
                                                <div class="intro">Document scanning SDK for .NET desktop applications</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="rightPart">
                                <div class="subProduct">
                                    <a href="https://www.dynamsoft.com/Products/barcode-inventory-system.aspx">
                                        <div class="title fontOswald textUpperCase">Panorama</div>
                                        <div class="intro">Proprietary technology for warehouse barcode scanning</div>
                                    </a>
                                </div>
                                <div class="subProduct">
                                    <a href="https://www.dynamsoft.com/Products/direct-part-marking.aspx">
                                        <div class="title fontOswald textUpperCase">Direct Part Marking</div>
                                        <div class="intro">DPM scanning SDK for etched Data Matrix codes</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ct-bt"><a class="orangeLink fontOswald textUpperCase" href="https://www.dynamsoft.com/Products/Products.aspx?urlsource=navigation">See All Products <span>&rsaquo;</span></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>               
</div>

<div id="menuMask"></div>