<li><a href="{{ site.ios }}" class="otherLinkColour">Objective-C & Swift (ios)</a>
    <ul>
        {%- if page.url contains '/ios/' or page.url contains '/ios-v' -%}
        <li><a href="{{ site.ios-guide }}guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.ios-api }}api.html" class="otherLinkColour">API Reference</a>
            <ul>
                <li><a href="{{ site.ios-basic-setting }}basic-setting.html/" class="otherLinkColour">Basic Settings</a></li>
                <li><a href="{{ site.ios-filter-setting }}filter-setting.html/" class="otherLinkColour">Filter Settings</a></li>
                <li><a href="{{ site.ios-zoom-setting }}zoom-focus.html" class="otherLinkColour">Focus & Zoom Settings</a></li>
            </ul>
        </li>
        <li><a href="{{ site.ios-release-note }}release-note.html" class="otherLinkColour">Release Notes</a></li>
        {%- endif -%}
    </ul>
</li>
