<li><a href="{{ site.android }}" class="otherLinkColour">Java (Android)</a>
    <ul>
        {%- if page.url contains '/android/' or page.url contains '/android-v' -%}
        <li><a href="{{ site.android-guide }}guide.html" class="otherLinkColour">User Guide</a></li>
        <li><a href="{{ site.android-api }}api.html" class="otherLinkColour">API Reference</a>
            <ul>
                {%- include android-reference/reference.html -%}
            </ul>
        </li>
        <li><a href="{{ site.android-release-note }}release-note.html" class="otherLinkColour">Release Notes</a></li>
        {%- endif -%}
    </ul>
</li>
